<div class="text-center">
	<h1 class="text-center">Welcom#index</h1><br><br>
	<%= image_tag "akwewa.png", alt: "Mon image", width:400, height:200 %><br>


	<a href="/users/sign_in" class="btn btn-raised btn-success">SIGN_IN</a>

	<br>
	<a href="/users/sign_up" class="btn btn-raised btn-success">SIGN_UP</a><br>
	<%= link_to 'sign_in','/welcom/sign'%><br><br>
#body {
 # background-image: url(asset-path("votre_image.png"));
#}
	<p>Find me in app/views/welcom/index.html.erb</p>

</div>

